{% extends "base.html" %}


{% block static_files %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_account/style.css' %}">
{% endblock %}

{% block layout %}
  {% if user.is_authenticated %}
  Welcome <code>{{ user.name }}</code>! Click to  <a href="{% url 'user_account:logout' %}">Logout</a>
  {% else %}
  Please log in <a href="{% url 'user_account:login' %}">here</a> or <a href="{% url 'user_account:register' %}">Register</a>
  {% endif %}

  {% block contents %}
  {% endblock %}
{% endblock %}
