{% extends "user_account/_base.html" %}


{% block base_layout %}

    {% if user.is_authenticated %}
        <div id="user_is_authenticated">
        <p>Udane Logowanie ;-) Witam <code>{{ user.name }}</code>!</p>
        <p><a href="{% url 'user_account:logout' %}">Wyloguj</a></p>
        </div>

    {% else %}
        <div id="new_user">
        <form class='new_user' action="" method="post">
            {% csrf_token %}
            <p>Rejestracja nowego użytkownika</p>
            {{ forms.new_user.as_p }}
            <button name='action' value='new_user' type="submit">Rejestruj</button>
        </form>
        </div>

        <div id="login">

        <form class='login' action="" method="post">
            {% csrf_token %}

            <p>Logowanie</p>
            <p>{{ forms.login.as_p }}</p>
            <button name='action' value='login' type="submit">Zaloguj</button>
        </form>
        </div>
    {% endif %}

    {% block layout %}
    {% endblock %}


{% endblock %}


