{% extends "user_account/log_or_new_account.html" %}


{% block layout %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>

    <p> Dodać funkcje w JavaScript  sprawdzającą czy new_passwor1 == new_passwor1 !!!!</p>

    {% if edit_succes %}
        <p>Dokonano zamiany danych konta użytkownika.
    {% endif %}

    <p><a href="{% url 'user_account:home' %}">Powrót do strony domowej</a></p>


{% endblock %}