


table#login_table,
table#register_table,
table#user_edition_table {
    text-align:center;
    width: 100%;
}

#new_user,
#login,
#user_edition {
    text-align:center;
    margin: auto;
    width: 30%;
}

#log_user {
    text-decoration: underline;
}

#user_activation_info,
#user_logout_info,
#password_edit,
#account_edit,
#account_creation,
#link_after_account_edition,
#register_button,
#login_button,
#row_register,
#row_login {
    text-align:center;
}

#edit_logout_links {
    text-align:right;
}

.alert-danger {
    text-align:center;
}

#flash {
    color:green;
    text-align:center;
    padding:5px;
    }
#main {
    background-color:#eeeeee;
    }

#new_schedule {
    background-color:#aeeee1;
    float:left;
    padding:5px
    }
#edit_team {
    background-color:#eaeee5;
    float:left;
    padding:5px
    }
#edit_schedules {
    background-color:#eeaee9;
    float:left;
    padding:5px
    }

/* make the rows the same hight*/
.row.match-my-cols {
    overflow: hidden;
}
.row.match-my-cols [class*="col-sm-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}



