


table#login_table,
table#register_table,
table#user_edition_table {
    text-align:center;
    width: 100%;
    background-color: LightGrey ;
}

#new_user,
#login,
#user_edition {
    text-align:center;
    margin: auto;
    width: 30%;
}

#inactive_user, #wrong_email_pass {
    text-align:center;
    color: red
}

#user_activation_info,
#user_logout_info,
#user_is_authenticated,
#password_edit,
#account_edit,
#account_creation,
#link_after_account_edition {
    text-align:center;
}

#edit_logout_links {
    text-align:right;
}






#flash {
    color:green;
    text-align:center;
    padding:5px;
    }
#main {
    background-color:#eeeeee;
    }

#new_schedule {
    background-color:#aeeee1;
    float:left;
    padding:5px
    }
#edit_team {
    background-color:#eaeee5;
    float:left;
    padding:5px
    }
#edit_schedules {
    background-color:#eeaee9;
    float:left;
    padding:5px
    }




