
/*#flash {*/
    /*color:green;*/
    /*text-align:center;*/
    /*padding:5px;*/
    /*}*/


#schedule_main_table{
    background-color:white;
}

#row_edit_team{
    background-color:#619EFF;
    text-align:center;
}

#row_new_schedule{
    background-color:#76ABFF;
    text-align:center;
}

#row_edit_schedules {
    background-color:#86B5FF;
    text-align:center;
}

#new_team, #base_schedule{
    text-align:center;
}

.alert-danger{
    text-align:center;
}

/* make the rows the same hight*/
.row.match-my-cols {
    overflow: hidden;
}
.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

