<!doctype html>
<html lang="pl">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/style.css' %}">
    <meta charset="utf-8">
    <title>Grafik Iwonki</title>
</head>

<body>
    <div id="main">
		<div id="header">
			<h1>GrafikIwonki</h1>
		</div>

        <form action="{% url 'schedule:grafik_update' team.id %}" method="post">
        {% csrf_token %}

        <div id="edit_team">
			<p><b>Tworzenie lub edycja składu załogi.</b></p>
			<input type="submit" name="grafik_update" value="Utwórz nową załogę">

			<p><select name="edit_team">
			   {% for team_name in team_names %}
				<option value="{team_name}">{{team_name}}</option>
			   {% endfor %}
			</select><--Wybierz załogę, którą chcesz edytować albo usunąć.</p>
			<p>
			<input type="submit" name="grafik_update" value="Edytuj załogę">
			<input type="submit" name="grafik_update" value="Usuń załogę">
			</p>
		</div>

		<div id="new_schedule">
				<p><b>Tworzenie nowego grafiku pracy.</b></p>
				<p>Wybierz miesiąc, rok oraz drużynę </p>
			    <p>dla której chcesz ułożyć nowy grafik.</p>

				<select name="month">
				{% for month in months %}
					{% if month == current_month %}
					<option value="{{month}}"SELECTED>{{month}}</option>
					{% endif %}
					{% if month != current_month %}
					<option value="{{month}}">{{month}}</option>
					{% endif %}
				{% endfor %}
				</select>

				<select name="year">
				{% for year in years %}
					{% if year == current_year %}
					<option value="{{year}}"SELECTED>{{year}}</option>
					{% endif %}
					{% if year != current_year %}
					<option value="{{year}}">{{year}}</option>
					{% endif %}
				{% endfor %}
				</select>
			    <select name="team_for_new_schedule">
			        {% for team_name in team_names %}
				    <option value="{{team_name}}">{{team_name}}</option>
			        {% endfor %}
			    </select>

				<p><input type="submit" name="grafik_update" value="Stwórz nowy grafik"></p>
		</div>

		<div id="edit_schedules">
			<p><b>Edycja lub usunięcie istniejącego grafiku.</b></p>
			<p>Lista istniejących już gafików do wyboru</p>

    	    <select name="schedule_to_edit">
		        {% for schedule_name in schedule_names %}
			    <option value="{{schedule_name}}">{{schedule_name}}</option>
		        {% endfor %}
		    </select>
            <p></p>
            <input type="submit" name="grafik_update" value="Edycja grafiku">
			<input type="submit" name="grafik_update" value="Usunięcie grafiku">

		</div>

        </form>
    </div>


{% block body %} {% endblock %}

<div id="footer">
Opracował Marcin Pieczyński, kontakt marcin-pieczynski@wp.pl
</div>
</body>
</html>