{% extends "Grafik Iwonki.html" %}
{% block body %}



<form action="{{url_for('team_update')}}" method="post" id="team">

<p> Wprowadź nazwę dla zespołu. Domyślnie będzie ona zawierała dzisiejszą datę ale wprowadź coś od siebie. </p>
Tutaj wpisz nazwę dla zespołu -->
<input type="text" name="team_name" value="{{team_name}}" size="50">
<p></p>
<input type="submit" name="create_team" value="dodaj osobę">
<input type="submit" name="create_team" value="odejmij osobę">
<input type="submit" name="create_team" value="Zapisz załogę">
<p></p>



<table style="width:100%">
    <tr>
    <td>Liczba</td>
    <td>Imię Nazwisko</td>
    </tr>
    {% for n in range(size)%}
    <tr>
        <td>{{n + 1}}</td>
        <td><input type="text" name="person{{n}}" value="{{crew[n]}}"></td>
    </tr>
    {% endfor %}
</table>
</form>


{% endblock %}