
{% extends "schedule/base.html" %}
{% block body %}

<script>
function myCreateFunction() {
    var table = document.getElementById("team_table");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = "NEW CELL1";
    cell2.innerHTML = "NEW CELL2";
}

function myDeleteFunction() {
    document.getElementById("team_table").deleteRow(-1);
}
</script>

<form action="{% url 'schedule:team_update' %}" method="post">
{% csrf_token %}

<p> Wprowadź nazwę dla zespołu. Domyślnie będzie ona zawierała dzisiejszą datę ale wprowadź coś od siebie. </p>
Tutaj wpisz nazwę dla zespołu -->
<input type="text" name="team_name" value="{{default_team_name}}" size="50">
<p></p>
<input type="submit" name="create_team" value="dodaj osobę">
<input type="submit" name="create_team" value="odejmij osobę">
<input type="submit" name="save_team" value="Zapisz załogę">

<p></p>

<table id="team_table" name="team_table" style="width:100%">
    <tr>
        <td>Liczba</td>
        <td>Imię Nazwisko</td>
    </tr>
    {% for elem in dafault_team_size%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><input type="text" name="person{{forloop.counter0}}" value="{{elem}}"></td>
        </tr>
    {% endfor %}
</table>
</form>

{% endblock %}

