{% extends "schedule/base_schedule.html" %}
{% block table %}

<table style="width:100%">
    <tr>
        <td></td>
        {% for no, day in month_calendar %}
        <td><b>{{no}}</b></td>
        {% endfor %}
    </tr>

    <tr>
        <td><b>Imię Nazwisko</b></td>
        {% for no, day in month_calendar  %}
        <td><b>{{day}}</b></td>
        {% endfor %}
    </tr>
    {% for person, one_schedule in schedule.oneschedule_set.all %}
    <tr>
        <td>{{person.name}}</td>

        {% for no, day in month_calendar %}
        <td>
            <select name="{{person.name}}_day{{no}}">

                {% for w in work %}
                    {% if one_schedule == w %}
                        <option value="{{w}}" SELECTED><b>{{w}}</b></option>
                    {% else %}
                        <option value="{{w}}">{{w}}</option>
                    {% endif %}
                {% endfor %}

            </select>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}